table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


.tdtable {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center; /* Center content horizontally */
}

.divtd {
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    gap: 10px; /* Add space between buttons */
}

.article-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007BFF;
    padding: 0 20px; /* Adjust padding as needed */
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-container h1 {
    margin: 0;
}

.nav-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin-left: 20px; /* Adjust spacing between links */
}

.nav-link {
    text-decoration: none;
    color: inherit;
}
